h1,
p {
  margin: 0px;
}

form {
  text-align: center;
  padding: 16px 0px;
}

li {
  list-style: none;
  border: 1px solid black;
  margin-bottom: 8px;
  width: 500px;
  margin: 0 auto 8px auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  text-transform: uppercase;
}

li .left-container-items {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

img {
  display: block;
  max-height: 100%;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
